<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="{% if request.user.role == 'customer' %}#{% else %}{% url 'index' %}{% endif %}"
       class="app-brand-link">
      <span class="app-brand-text demo menu-text fw-bolder ms-2">Auto Dash</span>
    </a>
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>
  <ul class="menu-inner py-1">

    {# ------------------ Customer ------------------ #}
    {% if request.user.role == "customer" %}
      <li class="menu-item active">
        <a href="{% url 'customer_dashboard' %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Dashboard">Dashboard</div>
        </a>
      </li>
    <li class="menu-item">
        <a href="{% url 'customer_vehicle_create' %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-car"></i>
          <div data-i18n="Service History">Add Vehicle</div>
        </a>
      </li>
    <li class="menu-item">
        <a href="{% url 'customer_vehicles' %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-car"></i>
          <div data-i18n="Service History">My Vehicles</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% url 'customer_service_history' %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-history"></i>
          <div data-i18n="Service History">Service History</div>
        </a>
      </li>
    <li class="menu-item">
        <a href="{% url 'book_service' %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-book"></i>
          <div data-i18n="Service History">Book a Service</div>
        </a>
      </li>
    <li class="menu-item">
        <a href="{% url 'booking_history' %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-receipt"></i>
          <div data-i18n="Service History">Booking History</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% url 'customer_profile' %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-user"></i>
          <div data-i18n="My Profile">My Profile</div>
        </a>
      </li>

    {# ------------------ Worker ------------------ #}
    {% elif request.user.role == "worker" %}

      {# Plain worker (not superuser, not branch-admin) #}
      {% if not request.user.is_superuser and not request.user.worker_profile.is_branch_admin %}
        <li class="menu-item active">
          <a href="{% url 'index' %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Dashboard">Dashboard</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'worker_commissions' %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-money"></i>
            <div data-i18n="My Commissions">My Commissions</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'service_history' %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-history"></i>
            <div data-i18n="Service History">Service History</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'worker_profile' %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user-circle"></i>
            <div data-i18n="Profile">Profile</div>
          </a>
        </li>

      {# Branch-admin or superuser: full menu #}
      {% else %}
        {# Dashboard #}
        <li class="menu-item active">
          <a href="{% url 'index' %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
          </a>
        </li>

        {# Services dropdown (workers only) #}
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-layout"></i>
            <div data-i18n="Layouts">Services</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="{% url 'log_service' %}" class="menu-link">
                <div data-i18n="Log a Service">Log Vehicle Service</div>
              </a>

              <li class="menu-item">
              <a href="{% url 'other_service_create' %}" class="menu-link">
                <div data-i18n="Log a Service">Log Other Services</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="{% url 'sell_product' %}" class="menu-link">
                <div data-i18n="Sell Product">Sell Product</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="{% url 'expense_list' %}" class="menu-link">
                <div data-i18n="Expenses">Expenses</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="{% url 'arrears_list' %}" class="menu-link">
                <div data-i18n="Arrears">Arrears</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="{% url 'add_expense' %}" class="menu-link">
                <div data-i18n="Add Expense">Add Expense</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="{% url 'service_history' %}" class="menu-link">
                <div data-i18n="Service History">Vehicle Service History</div>
              </a>
            </li>
              <li class="menu-item">
              <a href="{% url 'other_service_history' %}" class="menu-link">
                <div data-i18n="Service History">Other Services History</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="{% url 'branch_customers' %}" class="menu-link">
                <div data-i18n="Customers">Customers</div>
              </a>
            </li>
          </ul>
        </li>

        {# Worker quick-links #}
    <li class="menu-item">
          <a href="{% url 'booking_history' %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user-circle"></i>
            <div data-i18n="Add Customer">Customer Bookings</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'create_customer_page' %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user-circle"></i>
            <div data-i18n="Add Customer">Add Customer</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'create_vehicle_page' %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-car"></i>
            <div data-i18n="Add Vehicle">Add Vehicle</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'vehicle_list' %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-car"></i>
            <div data-i18n="All Vehicles">All Vehicles</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'worker_commissions' %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-money"></i>
            <div data-i18n="My Commissions">My Commissions</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'worker_profile' %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user-circle"></i>
            <div data-i18n="Profile">Profile</div>
          </a>
        </li>

        {# Admin / Branch-admin section header #}
        <li class="menu-header small text-uppercase">
          <span class="menu-header-text">
            {% if request.user.is_superuser %}
              Admin
            {% else %}
              Branch Admin ({{ request.user.worker_profile.branch.name }})
            {% endif %}
          </span>
        </li>

        {# Admin analytics & management #}
        <li class="menu-item">
          <a href="{% url 'admin_dashboard' %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-bar-chart-alt-2"></i>
            <div data-i18n="Analytics">Dashboard</div>
          </a>
        </li>
        {% if request.user.is_superuser %}
          <li class="menu-item">
            <a href="{% url 'manage_branches' %}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-building-house"></i>
              <div data-i18n="Branches">Branches</div>
            </a>
          </li>
        {% endif %}
        <li class="menu-item">
          <a href="{% url 'manage_workers' %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-group"></i>
            <div data-i18n="Workers">Workers</div>
          </a>
        </li>
        {% if request.user.is_superuser %}
          <li class="menu-item">
            <a href="{% url 'enroll_worker' %}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-group"></i>
              <div data-i18n="Enroll Worker">Enroll Worker</div>
            </a>
          </li>
        {% endif %}
        <li class="menu-item">
          <a href="{% url 'commissions_by_date' %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-money"></i>
            <div data-i18n="Commissions">Commissions</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'expenses_by_date' %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-credit-card"></i>
            <div data-i18n="Expenses">Expenses</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'financial_overview' %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-line-chart"></i>
            <div data-i18n="Financial Overview">Financial Overview</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'product_sales_report' %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-shopping-bag"></i>
            <div data-i18n="Product Sales">Product Sales</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'manage_customers' %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user"></i>
            <div data-i18n="Customers">Customers</div>
          </a>
        </li>
        {% if request.user.is_superuser %}
          <li class="menu-item">
            <a href="{% url 'vehicle_groups' %}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-car"></i>
              <div data-i18n="Vehicle Groups">Vehicle Groups</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'sales_targets_manage' %}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-target-lock"></i>
              <div data-i18n="Set Target">Set Target</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'sales_targets_report' %}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-receipt"></i>
              <div data-i18n="Target Report">Target Report</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'generate_report' %}" class="menu-link">
              <i class="menu-icon tf-icons bx bxs-report"></i>
              <div data-i18n="Reporting">Reporting</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'set_weekly_budgets' %}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-money"></i>
              <div data-i18n="Add Weekly Budget">Add Weekly Budget</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'daily_budget_insights' %}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-chart"></i>
              <div data-i18n="Budget Insights">Budget Insights</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'admin_analytics' %}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-line-chart"></i>
              <div data-i18n="Analytics">Analytics</div>
            </a>
          </li>
    <li class="menu-item">
  <a href="javascript:void(0);" class="menu-link menu-toggle">
    <i class="menu-icon tf-icons bx bxs-report"></i>
    <div data-i18n="Reports">Reports</div>
  </a>
  <ul class="menu-sub">
    <li class="menu-item">
      <a href="{% url 'worker_report' %}" class="menu-link">
        <div data-i18n="Worker Report">Worker Report</div>
      </a>
    </li>
     <li class="menu-item">
      <a href="{% url 'branch_activity_report' %}" class="menu-link">
        <div data-i18n="Branch Activity Report">Branch Activity Report</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="{% url 'customer_report' %}" class="menu-link">
        <div data-i18n="Customer Report">Customer Report</div>
      </a>
    </li>
      <li class="menu-item">
      <a href="{% url 'product_report' %}" class="menu-link">
        <div data-i18n="Product Sales Report">Product Sales Report</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="{% url 'product_stock_report' %}" class="menu-link">
        <div data-i18n="Inventory Audit">Stock Audit Report</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="{% url 'mtd_performance_report' %}" class="menu-link">
        <div data-i18n="MTD Performance">MTD Performance Report</div>
      </a>
    </li>
     <li class="menu-item">
      <a href="{% url 'branch_analysis_report' %}" class="menu-link">
        <div data-i18n="Branch Analysis">Branch Daily Analysis</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="{% url 'daily_service_analysis' %}" class="menu-link">
        <div data-i18n="Service Analysis">Daily Service Analysis</div>
      </a>
    </li>
     <li class="menu-item">
      <a href="{% url 'ytd_trend_report' %}" class="menu-link">
        <div data-i18n="YTD Trend">YTD Trend Report</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="{% url 'worker_performance_ytd' %}" class="menu-link">
        <div data-i18n="Worker YTD">Worker Performance YTD</div>
      </a>
    </li>
     <li class="menu-item">
      <a href="{% url 'worker_performance_mtd' %}" class="menu-link">
        <div data-i18n="Worker MTD">Worker Performance MTD</div>
      </a>
    </li>
    <li class="menu-item">
  <a href="{% url 'traffic_analysis_report' %}" class="menu-link">
    <div data-i18n="Traffic Analysis">Traffic Analysis</div>
  </a>
</li>
    <!-- Future reports (Inventory, Service Split, etc.) can go here -->
  </ul>
</li>
      <li class="menu-item">
            <a href="{% url 'maintenance_list' %}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-wrench"></i>
              <div data-i18n="Analytics">Maintenance Log</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'dormant_vehicles' %}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-block"></i>
              <div data-i18n="Dormant Vehicles">Dormant Vehicles</div>
            </a>
          </li>
        {% endif %}
      {% endif %}
    {% endif %}

  </ul>
</aside>
