{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    {% include 'inc/side_nav.html' %}
    <div class="layout-page">
      {% include 'inc/header.html' %}
      <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
          <h4 class="fw-bold py-3 mb-4">My Profile</h4>
          <div class="card mb-4">
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label class="form-label" for="{{ form.first_name.id_for_label }}">First Name</label>
                  {{ form.first_name }}
                </div>
                <div class="mb-3">
                  <label class="form-label" for="{{ form.last_name.id_for_label }}">Last Name</label>
                  {{ form.last_name }}
                </div>
                <div class="mb-3">
                  <label class="form-label" for="{{ form.phone_number.id_for_label }}">Phone Number</label>
                  {{ form.phone_number }}
                </div>
                <div class="mb-3">
                  <label class="form-label" for="{{ form.email.id_for_label }}">Email</label>
                  {{ form.email }}
                </div>
                <div class="mb-3">
                  <label class="form-label" for="{{ form.address.id_for_label }}">Address</label>
                  {{ form.address }}
                </div>
                <button type="submit" class="btn btn-primary">Save Changes</button>
              </form>
            </div>
          </div>
        </div>
        {% include 'inc/footer.html' %}
        <div class="content-backdrop fade"></div>
      </div>
    </div>
  </div>
  <div class="layout-overlay layout-menu-toggle"></div>
</div>
{% endblock content %}
