<!-- templates/layouts/admin/dashboard.html -->

{% extends 'base.html' %}

{% block content %}
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->
    {% include 'inc/side_nav.html' %}
    <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">
      <!-- Navbar -->
      {% include 'inc/header.html' %}
      <!-- / Navbar -->

      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="row">
            <!-- Welcome Card -->
            <div class="col-lg-12 mb-4 order-0">
              <div class="card shadow-sm">
                <div class="d-flex align-items-end row">
                  <div class="col-sm-7">
                    <div class="card-body">
                      <h4 class="card-title text-primary">Welcome, Admin 🎉</h4>
                      <p class="mb-4">
                        AutoDash Management helps you manage all branches effectively. Select a branch to view detailed statistics.
                      </p>
                      <p><strong>Branch: </strong>{{ branch.name }} - {{ branch.location }}</p>

                      <a href="{% url 'log_service' %}" class="btn btn-outline-primary">Log Service</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Statistics Cards -->
            <div class="col-lg-8 mb-4 order-1">
              <div class="row">
                <!-- Today's Revenue -->
                <div class="col-lg-6 col-md-6 col-6 mb-4">
                  <div class="card shadow-sm">
                    <div class="card-body">
                      <span class="fw-semibold d-block mb-1">Today's Revenue</span>
                      <h3 class="card-title mb-2">GHS{{ revenue_today }}</h3>
                      <small class="text-success fw-semibold">
                        <i class="bx bx-up-arrow-alt"></i> {{ percentage_increase }}%
                      </small>
                    </div>
                  </div>
                </div>
                <!-- Services Rendered -->
                <div class="col-lg-6 col-md-6 col-6 mb-4">
                  <div class="card shadow-sm">
                    <div class="card-body">
                      <span class="fw-semibold d-block mb-1">Services Rendered</span>
                      <h3 class="card-title mb-2">{{ services_rendered_today }}</h3>
                      <small class="text-success fw-semibold">
                        <i class="bx bx-up-arrow-alt"></i> {{ services_percentage_change }}%
                      </small>
                    </div>
                  </div>
                </div>
                <!-- Today's Expenses -->
                <div class="col-lg-6 col-md-6 col-6 mb-4">
                  <div class="card shadow-sm">
                    <div class="card-body">
                      <span class="fw-semibold d-block mb-1">Today's Expenses</span>
                      <h3 class="card-title mb-2">GHS{{ expenses_today }}</h3>
                      <small class="text-warning fw-semibold">
                        <i class="bx bx-down-arrow-alt"></i>
                      </small>
                    </div>
                  </div>
                </div>
                <!-- Commission Earned -->
                <div class="col-lg-6 col-md-6 col-6 mb-4">
                  <div class="card shadow-sm">
                    <div class="card-body">
                      <span class="fw-semibold d-block mb-1">Today's Commission</span>
                      <h3 class="card-title mb-2">GHS{{ total_commission }}</h3>
                      <small class="text-success fw-semibold">
                        <i class="bx bx-up-arrow-alt"></i>
                      </small>
                    </div>
                  </div>
                </div>
                <!-- Products Sold -->
                <div class="col-lg-6 col-md-6 col-6 mb-4">
                  <div class="card shadow-sm">
                    <div class="card-body">
                      <span class="fw-semibold d-block mb-1">Products Sold</span>
                      <h3 class="card-title mb-2">{{ products_sold_today }}</h3>
                      <small class="text-success fw-semibold">
                        <i class="bx bx-up-arrow-alt"></i>
                      </small>
                    </div>
                  </div>
                </div>
                <!-- Revenue Generated -->
                <div class="col-lg-6 col-md-6 col-6 mb-4">
                  <div class="card shadow-sm">
                    <div class="card-body">
                      <span class="fw-semibold d-block mb-1">Revenue Generated</span>
                      <h3 class="card-title mb-2">GHS{{ revenue_generated }}</h3>
                      <small class="text-success fw-semibold">
                        <i class="bx bx-up-arrow-alt"></i>
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Branch Statistics -->
            <div class="col-lg-4 col-md-4 order-2 mb-4">
              <div class="card shadow-sm">
                <div class="card-body">
                  <h5 class="card-title text-primary">Branch Statistics</h5>
                  <p><strong>Completed Orders:</strong> {{ completed_orders }}</p>
                  <p><strong>On Credit Orders:</strong> {{ on_credit_orders }}</p>
                  <p><strong>Pending Orders Today:</strong> {{ pending_orders_today }}</p>
                </div>
              </div>
            </div>
            <!-- Transactions -->
            <div class="col-lg-12 mb-4 order-3">
              <div class="card shadow-sm">
                <div class="card-header">
                  <h5 class="card-title">Recent Services</h5>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled">
                    {% for service in recent_services %}
                      <li class="d-flex mb-4 pb-1">
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-1">
                          <div class="me-2">
                            <small class="text-muted d-block mb-0">{{ service.customer.user.first_name }} {{ service.customer.user.last_name }}</small>
                            <small class="text-muted d-block mb-0">{{ service.customer.user.phone_number }}</small>
                            <h6>#{{ service.service_order_number }}</h6>
                          </div>
                          <div class="user-progress d-flex align-items-center gap-1 mt-0">
                            <h6 class="mb-0">GHS{{ service.total_amount }}</h6>
                          </div>
                        </div>
                      </li>
                    {% empty %}
                      <li>No recent services.</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <!-- Pending Services -->
            <div class="col-lg-12 mb-4 order-4">
              <div class="card shadow-sm">
                <div class="card-header">
                  <h5 class="card-title">Pending Services</h5>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled">
                    {% for service in pending_services %}
                      <li class="d-flex mb-4 pb-1">
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-1">
                          <div class="me-2">
                            <small class="text-muted d-block mb-0">{{ service.customer.user.phone_number }}</small>
                            <small class="text-muted d-block mb-0">{{ service.vehicle }}</small>
                            <h6>#{{ service.service_order_number }}</h6>
                          </div>
                          <div class="user-progress d-flex align-items-center gap-1 mt-0">
                            <h6 class="mb-0">GHS{{ service.total_amount }}</h6>
                            <span class="text-muted">GHS</span>
                            <a class="btn btn-sm btn-outline-success" href="{% url 'confirm_service_rendered' pk=service.id %}">Confirm Service</a>
                          </div>
                        </div>
                      </li>
                    {% empty %}
                      <li>No pending services.</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <!--/ Transactions -->
          </div>
        </div>
        <!-- / Content -->

        <!-- Footer -->
        {% include 'inc/footer.html' %}
        <!-- / Footer -->

        <div class="content-backdrop fade"></div>
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>

  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->
{% endblock content %}
